#div{
    font-size: 100px;
}
#p{
    font-size: 2em;
}
#a:visited{
    color: red;
}
#a:link{
    color: rgb(0, 255, 51);
}
#a:active{
    color: rgb(255, 0, 128);
}
#a:hover{
    color: rgb(183, 255, 0);
}
#p:hover{
    background-color: aqua;
}
